.containerslide{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    
}
.w-100{
    width: 1000px;
    height: 603px;
    cursor: pointer;

}

.content{
    display: flex;
    justify-content: center;
}
h1{
   font-family: Josefin sans-serif;
}
.btn-primary{
    background-color: rgb(243, 206, 150);
    border-radius: 8px;
    border: none;
}
.btn-primary:hover{
    color: azure;
    background-color: salmon;
}
